@charset "utf-8";

/*  -------------------------------------------------------------
    Dæghrefn web site
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Project:        Nasqueron
    Author:         Dereckson
    Dependencies:   foundation motion-ui
    Filename:       app.css
    Licence:        CC-BY 4.0, MIT
    -------------------------------------------------------------    */

/*  -------------------------------------------------------------
    General padding
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

#actions {
  padding-top: 3em;
}

#actions .row {
  padding-top: 1em;
  padding-bottom: 4em;
}

/*  -------------------------------------------------------------
    Icons
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

#actions i {
  color: #5e191c;
  font-size: 128px;
}

/*  -------------------------------------------------------------
    < 640 px
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

@include breakpoint(small down) {
  #actions {
    h3 {
      text-align: center;
      font-size: 1.4rem;
    }

    .button {
      display: block;
    }
  }
}

/*  -------------------------------------------------------------
    < 1024 px
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

@include breakpoint(medium down) {
  #actions {
    h3 {
      margin-bottom: 2rem;
    }

    .button {
      margin-top: 2rem;
    }
  }
}
