@charset "utf-8";

/*  -------------------------------------------------------------
    Dæghrefn web site
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Project:        Nasqueron
    Author:         http://zurb.com/building-blocks/centered-footer
    Dependencies:   foundation motion-ui
    Filename:       app.css
    Licence:        CC-BY 4.0, MIT
    -------------------------------------------------------------    */

/*  -------------------------------------------------------------
    Centered footer

    http://zurb.com/building-blocks/centered-footer
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer {
  background-color: #100b04;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;

  .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
  }
}

.service-name {
  margin: 0 0 1rem;
}

.footer-extra-info {
  color: #8f9296;
  font-size: 0.75rem;
  margin: 3em 0 0 0;
}

/*  -------------------------------------------------------------
    < 640 px
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

@include breakpoint(small down) {
  footer {
    h3 {
      font-size: 1.4rem;
    }

    .links {
      font-size: 1rem;
    }

    .links a {
      display: block;
    }
  }

  .footer-extra-info {
    br {
      display: block;
      margin: 0.2rem 0;
    }
  }
}

/*  -------------------------------------------------------------
    >= 640 px
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

@include breakpoint(medium) {
  footer {
    .links a {
      padding: 3rem 0 2rem;

      &::after {
        content: "•";
        padding: 0 0.4rem 0 0.8rem;
      }

      &:last-child::after {
        content: "";
        padding: 0 0.4rem 0 0.8rem;
      }
    }
  }
}
