@charset "utf-8";

/*  -------------------------------------------------------------
    Dæghrefn web site
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Project:        Nasqueron
    Author:         Dereckson
    Dependencies:   foundation motion-ui
    Filename:       app.css
    Licence:        CC-BY 4.0, MIT
    -------------------------------------------------------------    */

/*  -------------------------------------------------------------
    Table of contents
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    ::  Header
    ::  Content
    ::  Headings

*/

/*  -------------------------------------------------------------
    Header
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

header {
  padding-top: 10em;
  padding-bottom: 2em;
  margin-bottom: 15vh;

  background-color: rgba(255, 255, 255, 0.05);
  color: whitesmoke;
}

header h1 {
  color: antiquewhite;
}

/*  -------------------------------------------------------------
    Content
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.darken {
  background-color: rgba(0, 0, 0, 0.85);
  color: ghostwhite;
}

/*  -------------------------------------------------------------
    Headings
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

h3 {
  color: antiquewhite;
}
