<footer class="footer">
    <div class="row">
        <div class="small-12 columns">
            <h3 class="slogan">Dæghrefn</h3>
            <p class="links">
                <a href="{{root}}/">Home</a>
                <a href="https://www.nasqueron.org/">A Nasqueron project</a>
                <a href="https://irc.lc/wolfplex">IRC support</a>
                <a href="https://status.nasqueron.org">Service status</a>
            </p>
            <p class="footer-extra-info">
                Site published under <a href="https://creativecommons.org/licenses/by/4.0/" rel="license">CC-BY 4.0</a> and <a href="https://opensource.org/licenses/MIT">MIT</a> license.<br />
                Photo credit: <a href="https://commons.wikimedia.org/wiki/File:Beowulf_Manuscript.jpg">Ken Eckert</a> | Design: <a href="https://www.dereckson.be/">Sébastien Santoro</a><br />
                <i class="fi-pencil"></i> <a href="https://github.com/nasqueron/daeghrefn-www">Edit this site on GitHub</a>
            </p>
        </div>
    </div>
</footer>
